@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --Bright-blue: hsl(220, 98%, 61%);
  --Background-C: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* Light Theme */

  --Very_Light_Gray: hsl(0, 0%, 98%);
  --Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
  --Light_Grayish_Blue: hsl(233, 11%, 84%);
  --Dark_Grayish_Blue: hsl(236, 9%, 61%);
  --Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);

  /* ### Dark Theme */

  --Very_Dark_Blue: hsl(235, 21%, 11%);
  --Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
  --Light_Grayish_Blue: hsl(234, 39%, 85%);
  --Light_Grayish_Blue: hsl(236, 33%, 92%);
  --Dark_Grayish_Blue: hsl(234, 11%, 52%);
  --Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
  --Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--Very_Dark_Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 112.8%;
  font-family: "Josefin Sans", sans-serif;
  color: var(--Very_Light_Gray);
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

div {
  border-radius: 0.8rem;
}
