.bigTitle {
  /* position: absolute;
  left: 2rem;
  top: 8rem; */
  margin: 0 auto;
  padding-bottom: 5rem;
  font-weight: 800;
  font-size: 3.6rem;

  /* margin: 0 auto; */
}

.btns_container button {
  padding-top: 2rem;
  font-size: 2rem;
  background-color: transparent;
  color: wheat;
  border: transparent;
}

.title {
  /* padding-bottom: 80px; */
  margin: 10px 0 10rem;
  padding: 1rem;
  align-self: center;
  border-bottom: 3px solid white;
  display: inline-flex;
  /* width: ; */
}

.login_container {
  margin: 0 auto;
  width: 400px;
  gap: 2rem;
  color: white;
}

.login_container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login_container form div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;

  margin-bottom: 2rem;
}

.login_container label {
  font-size: 2rem;
  font-weight: bold;
}

.login_container input {
  border-color: transparent;
  border-radius: 1rem;
  height: 3rem;
}

.login_container input:focus {
  padding-left: 2rem;
  outline: none;
}

.btns_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btns_container p {
  font-size: 2rem;
}

.btns_container p span {
  border-bottom: 3px solid white;
}

/* .btns_container label {
    
} */

@media (max-width: 500px) {
  .bigTitle {
    font-size: 2.5rem;
    align-items: center;
    /* padding-left: 2rem; */
  }

  .login_container {
    width: 300px;
  }

  .btns_container {
    display: flex;
    justify-content: space-around;
  }

  /* .btns_container button {
    padding-top: 2rem;
    font-size: 2rem;
    background-color: transparent;
    color: wheat;
    border: transparent;
  } */
}
